<div class="alert alert-dark">
  <h1>Study-Buddy</h1>
  <p>Willkommen beim Studienplaner für die FFHS.</p>
  <p>Im Rahmen der Projektarbeit (PA5) im HS21/22 wurde diese Applikation  erstellt durch Christoph Grossmann, Marco Ris und Peter Spielhofer.</p>
  <p>Mit Hilfe des Studienplaners erhälst du eine Übersicht, wie du dir dein Studium anhand der verfügbaren Module zusammenstellen kannst. Es wird dir eine Auswahl an Modulen bereitgestellt anhand deiner vorhergegangen Angaben. Zu jedem Modul können diese Angaben verändert werden, müssen aber nicht. Unterhalb der Auswahl werden laufend deine Module dargestellt welche durch dich hinzugefügt wurden und zeigen laufend das Total der Relevanz- und ECTS-Punkte an.</p>
</div>
<div class="alert alert-danger d-flex align-items-center" role="alert">
  <div>Bis auf Weiteres kann lediglich der Studiengang HF Passerelle BSc Informatik abgebildet werden!</div>
</div>
